.backgroundOpen-white {
  background-color: $abj-white;
}
.backgroundOpen-black {
  background-color: $abj-black;
}
.backgroundOpen-yellow {
      background-color: $abj-yellow;
    }
.backgroundOpen-grey {
      background-color: $abj-grey;
    }

.marginOpen-small {
  height: 30px;
  }

.marginOpen-medium {
  height: 60px;
  }

.marginOpen-large {
  height: 90px;
  }