.button {
    border: none;
    border-radius: 30px;
    height: 45px;
    padding: 10px 35px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'basier_circlemedium';
    width: fit-content;
    &__yellow {
        background: $abj-yellow;
        color: $abj-black;
    }
    &__black {
        background: $abj-black;
        color: $abj-grey;
    }
}