.section {
    width: 100%;
    overflow: hidden;
}
.wrapper {
    margin: 0px auto;
    width: 1364px;
}

.section-map {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}







@media (max-width: 1440px) {
    .section {
        width: 100%;
        overflow: hidden;
    }
    .wrapper {
        margin: 0px auto;
        width: 1245px;
    }
}