.map-wrapper-right {
  width: 50%;
  #map {
    height: 100%;
    width: 100%;
  }
}
.map-wrapper-left {
  width: 50%;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  .left-size {
    width: 682px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title-and-header-map {
      display: flex;
      flex-direction: column;
      .title-dot-wrap-map {
        position: relative;
        width: 100%;
        height: 33px;
        .title-dot-map {
          position: absolute;
          left: -16px;
          height: 33px;
          width: auto;
          padding: 0 16px;
          border-radius: 20px;
          background-color: $abj-black;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 12px;
            color: $abj-white;
            margin-bottom: 0;
          }
        }
      }
      .title-and-header-header-map {
        font-size: 56px;
        font-family: 'Lato', sans-serif;
        font-weight: 800;
        margin-bottom: 5px;
      }
      .title-and-header-subheader-map {
        font-size: 28px;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
      }
    }
    .tile {
      width: 536px;
      height: 90px;
      border-radius: 90px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $abj-white;
      margin: 12px 0;
      .icon-wrap {
        height: 90px;
        width: 90px;
        border-radius: 100%;
        background-color: $abj-black;
        margin-right: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .text {
        font-size: 26px;
        font-family: 'basier_circlemedium';
      }
    }
  }
}