section#oferta {
  width: 100%;
  overflow: hidden;
  height: 100%;

  .oferta-wrapper {
    width: 1024px;
    margin: 0px auto;

    .tab-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;

      .tab-header {
        position: relative;
        height: 100px;
        width: 100%;
        border-radius: 10px;
        background: $abj-black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        cursor: pointer;
        .header-text {
          margin-bottom: 0;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          font-size: 34px;
          color: $abj-grey-1;
        }
        .circle-btn {
          position: relative;
          height: 50px;
          width: 50px;
          border-radius: 50px;
          border: 3px solid $abj-grey-1;
          transition: transform .5s ease-in-out, opacity .5s ease-in-out;
          &:after {
            content: '';
            position: absolute;
            height: 3px;
            width: 28px;
            top: calc(50% - 1.5px);
            left: 8px;
            background-color: $abj-grey-1;
          }
          &:before {
            content: '';
            position: absolute;
            height: 3px;
            width: 28px;
            top: calc(50% - 1.5px);
            left: 8px;
            background-color: $abj-grey-1;
            transform: rotate(90deg);
            opacity: 1;
          }
          &-rotate {
            transform: rotate(360deg);
            transition: transform .5s ease-in-out, opacity .5s ease-in-out;
            &:before {
              opacity: 0
            }
          }
        }
      }
      .tab-body {
        height: 1px;
        transition: height .4s ease-in-out;
        opacity: 0;
        width: 100%;
        background: $abj-yellow-1;
        border-radius: 10px;

        p {
          font-size: 22px;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
        }
        li {
          font-size: 22px;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          list-style-type: disc;
          margin-left: 20px;
        }
        &-visible {
          height: 100%;
          opacity: 1;
          transition: height .4s ease-in-out;
        }
      }
    }
  }
}