.underbanner {
  background-color: $abj-yellow-1;
  .underbanner-wrapper {
    display: flex;
    flex-direction: row;
    .left-side {
      width: 780px;
      display: flex;
      flex-direction: column;
      .tile {
        padding: 40px;
        height: 300px;
        width: 100%;
        margin: 8px 10px 8px 0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .tile-text {
          font-size: 36px;
          font-family: 'basier_circlebold';
          line-height: 43px;
          width: 550px;
        }
        .tile-button {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }
      }
    }
    .right-side {
      width: 586px;
      .image-pic {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}