<section id="banner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000"
         data-pause="false">
        <div class="carousel-inner">
            {% for item in entry.slajder.all() %}
                <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                    {% set img = item.zdjecieWTle | length ? item.zdjecieWTle.one().url() : '' %}
                    <div class="d-block w-100 slider-item" style="background-image: url(' {{img}} ')"
                         alt="First slide">
                        <div class="slider-gradient">

                            <div class="slide-content wrapper">
                                <div class="slide-content-wrapper">
                                    <h1 class="slide-title">
                                        {{ item.tytul }}
                                    </h1>
                                    <p class="slide-text">
                                        {{ item.opis }}
                                    </p>
                                    <button class="button button__yellow">{{ item.napisNaPrzycisku }}</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>