<header class="section">
    <div class="wrapper wrapper-menu">
        <div class="nav-logo-ham">
            <img id="logo" src="dist/assets/logo.svg" alt="logo_awesome">
            <div class="hamburger">
                <div class="line"></div>
            </div>
        </div>
        <ul class="nav-ul">
            <li class="nav-li"><a href='#' class='navItems'>Oferta</a></li>
            <li class="nav-li"><a href='#' class='navItems'>Realizacje</a></li>
            <li class="nav-li"><a href='#' class='navItems'>O pracowni</a></li>
            <li class="nav-li"><a href='#' class='navItems'>Kontakt</a></li>
        </ul>
    </div>
</header>