{% for graphicBlock in graphicBlocks.wybierzModulGraficzny.all() %}

    {% switch graphicBlock.type %}

    {% case "tytulINaglowek" %}
        {% include "components/title-and-header.twig" with {
            graphicBlock: graphicBlock
        } %}

    {% case "underbanner" %}
        {% include "components/underbanner.twig" with {
            graphicBlock: graphicBlock
        } %}

    {% case "oMnie" %}
        {% include "components/about.html" with {
            graphicBlock: graphicBlock
        } %}

    {% case "cytat" %}
        {% include "components/quote.html" with {
            graphicBlock: graphicBlock
        } %}

    {% case "kontaktZMapa" %}
        {% include "components/map.twig" with {
            graphicBlock: graphicBlock
        } %}

    {% case "tabZOferta" %}
        {% include "components/oferta.html" with {
            graphicBlock: graphicBlock
        } %}

    {% case "formularzKontaktowy" %}
        {% include "components/contact-form.twig" with {
            graphicBlock: graphicBlock
        } %}


    {% default %}

        <p>Nie ma obsługi {{ graphicBlock.type }}(moduły graficzne)</p>

    {% endswitch %}

{% endfor %}
