{% for graphicBlock in graphicBlocks.wybierzModulGraficzny.all() %}

    {% switch graphicBlock.type %}

    {% case "tytulINaglowek" %}
        {% include "components/title-and-header.html" with {
            graphicBlock: graphicBlock
        } %}

    {% case "underbanner" %}
        {% include "components/underbanner.html" with {
            graphicBlock: graphicBlock
        } %}

    {% case "oMnie" %}
        {% include "components/about.html" with {
            graphicBlock: graphicBlock
        } %}

    {% case "cytat" %}
        {% include "components/quote.html" with {
            graphicBlock: graphicBlock
        } %}

    {% case "kontaktZMapa" %}
        {% include "components/map.html" with {
            graphicBlock: graphicBlock
        } %}

    {% case "tabZOferta" %}
        {% include "components/oferta.html" with {
            graphicBlock: graphicBlock
        } %}
    {% case "backgroundOtwarcie" %}
        <div class="backgroundOpen-{{ graphicBlock.backgroundOtwarcie }}">

    {% case "backgroundZamkniecie" %}
        </div>

    {% default %}

        <p>Nie ma obsługi {{ graphicBlock.type }}(moduły graficzne)</p>

    {% endswitch %}

{% endfor %}
