{% for matrixBlock in matrixField.all() %}

    {% switch matrixBlock.type %}

    {% case "modulGraficzny" %}
        {% include "graphic_modules" with {
            graphicBlocks: matrixBlock,
        } %}

    {% default %}
        <p>Nie ma obsługi {{ matrixBlock.type }} (matrix)</p>

    {% endswitch %}
{% endfor %}