<div class="section contact-section">
    <div class="wrapper contact-wrapper">
        <form>
            <div class="inputs-wrap">
                <input type="email" class='input email-input' placeholder="Email">
                <input type="tel" class='input phone-input' placeholder="Telefon">
            </div>
            <textarea style="resize: none" name="subject" id="textarea-subject" placeholder="Wiadomość"></textarea>
            <div class="submit-wrap">
                <label><input type="checkbox" name="checkbox" value="value"><p>Wyrazam zgode na przetwarzanie moich danych osobowych lorem ipsum dolor sit amet</p></label>
                <button class="button button__yellow">Zobacz więcej</button>
            </div>
        </form>
    </div>
</div>