<div class="section footer-section">
    <div class="wrapper footer-wrapper">
        <div class="copyrights">
            © ABJArchitekt
        </div>
        <ul class="foot-menu">
            <a href="">
                <li class="foot-menu-item">O Mnie</li>
            </a>
            <a href="">
                <li class="foot-menu-item">Oferta</li>
            </a>
            <a href="">
                <li class="foot-menu-item">Realizacje</li>
            </a>
            <a href="">
                <li class="foot-menu-item">Kontakt</li>
            </a>
        </ul>
        <div class="dev-by">
            Dev by: evr
        </div>
    </div>
</div>