<section class="section-map">
    <div class="map-wrapper-left">
        <div class="left-size">
            <div class="tile">
                <div class="icon-wrap">
                    <img src="./dist/assets/baseline-phone-24px.png" alt="">
                </div>
                <div class="text">
                    603 215 066
                </div>
            </div>
            <div class="tile">
                <div class="icon-wrap">
                    <img src="./dist/assets/baseline-alternate_email-24px.png" alt="">
                </div>
                <div class="text">
                    pracownia@abjarchitekt.pl
                </div>
            </div>
            <div class="tile">
                <div class="icon-wrap">
                    <img src="./dist/assets/baseline-place-24px.png" alt="">
                </div>
                <div class="text">
                    Reja 11, 39-300 Mielec
                </div>
            </div>
        </div>
    </div>
    <div class="map-wrapper-right">

    </div>
</section>