<section id="oferta" style="height: 1000px !important;">
    <div class="oferta-wrapper">
        {% for item in graphicBlock.oferta.all() %}

            <div class="tab-wrapper">
                <div class="tab-header">
                    <p class="header-text">
                        {{item.tytul}}
                    </p>
                    <div class="circle-btn"></div>
                </div>
                <div class="tab-body">
                    {{item.rozwiniecie}}
                    <div class="button button__black">zwiń</div>
                </div>
            </div>

        {% endfor %}
    </div>
</section>