
<section id="oferta" style="height: 1000px !important;">
    <div class="oferta-wrapper">
        <div class="tab-wrapper">
            <div class="tab">
                <div class="text-wrapper">
                    <h2 class="tab-title">Aranżacje i wnętrza lorem ipsum</h2>
                    <p class="tab-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi consequuntur tenetur, consequatur beatae atque doloribus repellat quo eius asperiores quibusdam?</p>
                </div>
                <div class="btn-show-more">
                    <div class="btn-yellow1 btn-yellow-part"></div>
                    <div class="btn-yellow2 btn-yellow-part"></div>
                    <div class="btn-yellow3 btn-yellow-part"></div>
                    <p class="btn-text">Pokaż więcej</p>
                </div>
            </div>
        </div>

    </div>
</section>