{% for item in graphicBlock.underbanner.all() %}
<section class="underbanner section">
    <div class="underbanner-wrapper wrapper">
        {% if item.type == "tabliczki" %}
        {% set url1 = item.linkNaPrzyciskuTab1 | length ? item.linkNaPrzyciskuTab1.one().url() : '' %}
        {% set url2 = item.linkNaPrzyciskuTab1 | length ? item.linkNaPrzyciskuTab1.one().url() : '' %}

        <div class="left-side">
            <div class="tile" style="background-color: #323232">
                <div class="tile-text" style="color: #EEEEEE">{{item.tytulTab1}}
                </div>
                <div class="tile-button">
                    <div class="button button__grey">napisNaPrzyciskuTab1</div>
                </div>
            </div>
            <div class="tile" style="background-color: #F8EC31">
                <div class="tile-text" style="color: #323232">{{item.tytulTab2}}
                </div>
                <div class="tile-button">
                    <div class="button button__black">napisNaPrzyciskuTab2</div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="right-side">
            <div class="image-pic" style="background-image: url(dist/assets/underbanner-image.png);"></div>
        </div>
    </div>
</section>
{% endfor %}
