<section class="underbanner section">
    <div class="underbanner-wrapper wrapper">
        <ul class="ub-list">
            <li class="ub-element ub-element__regular ub-element__regular--1">
                <div class="ub-list-absolute ub-list-absolute__regular" style="background-image: url(dist/assets/archzdj1.jpg)">
                    <div class="ub-list-blend"></div>
                    <div class="text-wrapper">
                        <div class="head-q">Czy zastanawiasz się nad budowką domu bądź remontem istniejacego?</div>
                        <div class="body-q">
                            <div class="answer-q">lorem ipsum dolor sit amet lekaterinbun dot nostre amus</div>
                            <div class="answer-text-q">                                
                                wymarzony dom, oraz 
                                dopilnuję przebiegu prac
                                od skompletowania 
                                dokumentacji, po wdrożenie 
                                projektu ble ble ble</div>

                        </div>
                    </div>
                    <div class="button button__yellow button-ub">zobacz oferte</div>
                </div>

            </li>
            <li class="ub-element ub-element__middle">
                <div class="ub-list-absolute ub-list-absolute__middle show" style="background-image: url(dist/assets/archzdj1.jpg)">
                    <div class="ub-list-blend"></div>
                    <div class="text-wrapper">
                        <div class="head-q">Czy zastanawiasz się nad budowką domu bądź remontem istniejacego?</div>
                        <div class="body-q">
                            <div class="answer-q">lorem ipsum dolor sit amet lekaterinbun dot nostre amus</div>
                            <div class="answer-text-q">Zaprojektuję dla Ciebie 
                                wymarzony dom, oraz 
                                dopilnuję przebiegu prac
                                od skompletowania 
                                dokumentacji, po wdrożenie 
                                projektu ble ble ble
                            </div>
                        </div>
                    </div>
                    <div class="button button__yellow button-ub">zobacz oferte</div>
                </div>

            </li>
            <li class="ub-element ub-element__regular ub-element__regular--3">
                <div class="ub-list-absolute ub-list-absolute__regular ub-list-absolute__regular--3">
                    <div class="ub-list-blend"></div>
                    <div class="text-wrapper">
                        <div class="head-q">Czy zastanawiasz się nad budowką domu bądź remontem istniejacego?</div>
                        <div class="body-q">
                            <div class="answer-q">lorem ipsum dolor sit amet lekaterinbun dot nostre amus</div>
                            <div class="answer-text-q">
                                    wymarzony dom, oraz 
                                    dopilnuję przebiegu prac
                                    od skompletowania 
                                    dokumentacji, po wdrożenie 
                                    projektu ble ble ble
                            </div>

                        </div>
                    </div>
                    <div class="button button__yellow button-ub">zobacz oferte</div>
                </div>

            </li>
        </ul>
    </div>
</section>