<section class="underbanner section">
    <div class="underbanner-wrapper wrapper">
        <div class="left-side">
            <div class="tile" style="background-color: #323232">
                <div class="tile-text" style="color: #EEEEEE">Chcesz poznać potencjał swojej
                    działki, bądź istniejącej
                    zabudowy?
                </div>
                <div class="tile-button">
                    <div class="button button__yellow">zobacz więcej</div>
                </div>
            </div>
            <div class="tile" style="background-color: #F8EC31">
                <div class="tile-text" style="color: #323232">Chcesz poznać potencjał swojej
                    działki, bądź istniejącej
                    zabudowy?
                </div>
                <div class="tile-button">
                    <div class="button button__black">zobacz więcej</div>
                </div>
            </div>
        </div>
        <div class="right-side">

        </div>
    </div>
</section>